body {
    margin: 0;
    padding: 0;
    background: #ecf6fb;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    width: 30px;
    height: 30px;
}
#nprogress .bar {
    background: black !important;
}

p[role=alert] {
    margin: 0;
    padding: 0;
    color: #d32f2f;
    font-size: 12px;
    margin-top: -16px;
}